# Android build files
/build/
*.iml
.gradle/
local.properties
/.idea/
.DS_Store
/captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore
keystore.properties

# Firebase
google-services.json
